@import 'config';
@import 'utilities';
@import 'form';
@import 'artwork';
@import 'photos';
@import 'upload_form';
@import 'messages';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

button {
  text-decoration: none;
  color: $primary-color;
  font-size: 16px;
  border: none;
  background-color: #fff;
}

ul {
  list-style: none;
}

// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $primary-color;
    }
  }

  img {
    max-width: 2rem;
  }
}

// Footer

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: relative;
  z-index: 1;
  width: 100vw;
  bottom: 0;
  border-top: solid 1px $primary-color;
  opacity: 0.9;

  img {
    max-width: 2rem;
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 20rem;
}

//Login and Register
.login-register {
  position: relative;
  background: url('../img/museum_entrance_bw.jpg') no-repeat center center/cover;
  height: 100vh;
}

// Users
.users {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user {
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user > div {
  margin-top: 1rem;
  color: #ccc;
}

// Landing
.landing {
  position: relative;
  background: url('../img/triptych_bkg.png') no-repeat center center/cover;
  height: 100vh;
  min-width: 100vw;

  &-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

// About Page
.about {
  position: relative;
  background: url('../img/white_wall_2.jpg') no-repeat center center/cover;
  height: 100vh;
  min-width: 100vw;
}

.left-align {
  display: inline-block;
  justify-content: left;
}

// Gallery Page
.gallery {
  position: relative;
  background: url('../img/white_wall.jpg') no-repeat center center/cover;
  height: 100vh;
}

// Selection Page
.image-upload {
  height: 200px;
  width: 200px;
  border: 2px solid black;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// File Upload
.upload-image-heading {
  position: relative;
  padding-top: 10%;
}
// Profiles Page
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

// Profile Page
.profile-grid {
  display: grid;
  grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
  grid-gap: 1rem;

  .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 250px;
    }

    .icons a {
      color: #fff;
      margin: 0 0.3rem;

      &:hover {
        color: $dark-color;
      }
    }
  }

  .profile-about {
    grid-area: about;
    text-align: center;

    .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .profile-exp {
    grid-area: exp;
  }

  .profile-edu {
    grid-area: edu;
  }

  .profile-exp,
  .profile-edu {
    & > div {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: #ccc 1px dotted;
    }

    &:last-child {
      border: none;
    }

    p {
      margin: 0.5rem 0;
    }
  }

  .profile-github {
    grid-area: github;

    .repo {
      display: flex;

      & > div:first-child {
        flex: 7;
        flex-basis: 70%;
      }

      & > div:last-child {
        flex: 3;
        flex-basis: 20%;
      }
    }
  }
}

// Text box
.text-box {
  z-index: 1000;
}

// Posts Page
.post-form-header {
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;

  & > div:first-child {
    text-align: center;
  }

  img {
    width: 150px;
  }
}

@import 'mobile';
